@model MusicDatabase.ViewModel.MusicalEntityDetails
@using MusicDatabase.ViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Name != Model.SortName)
        {
            <dt>
                @Html.DisplayNameFor(model => model.SortName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SortName)
            </dd>
        }
    </dl>
</div>

@if (Model.Discography.Count > 0)
{
    <h4>Collected Discography</h4>

    <ul>

        @foreach(var release in Model.Discography.OrderByDescending(r => r.Key).Select(r => r.Value))
        {
            <li>
                @release.Title (@release.Year)
                
                @if (release.Copies.Count > 0)
                {
                    <ul>
                        @foreach (var copy in release.Copies.OrderByDescending(c => c.DateAdded))
                        {
                            <li>
                                @{ 
                                    if(copy.DateAdded.HasValue)
                                    {
                                        <text>@copy.DateAdded.Value.ToString("dd/MM/yyyy") - </text>
                                    }

                                    var elementIndex = 1;

                                    foreach (var element in copy.Elements)
                                    {
                                        if(elementIndex > 1)
                                        {
                                            <text> + </text>
                                        }

                                        if(element.Count > 1)
                                        {
                                            <text>@element.Count@element.FormatCode</text>
                                        }
                                        else
                                        {
                                            <text>@element.FormatCode</text>
                                        }

                                        elementIndex++;
                                    }
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }

    </ul>
}

@if(Model.UpcomingPerformances.Count > 0)
{
    <h4>Upcoming Performances</h4>
    Html.RenderPartial("_MusicalEventsByMusicalEntity", Model.UpcomingPerformances);
}

@if (Model.Performances.Count > 0)
{
    <h4>Performances</h4>
    Html.RenderPartial("_MusicalEventsByMusicalEntity", Model.Performances);
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
