@model MusicDatabase.ViewModel.MusicalEntityDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MusicalEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (Model.Name != Model.SortName)
        {
            <dt>
                @Html.DisplayNameFor(model => model.SortName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SortName)
            </dd>
        }
    </dl>
</div>

@if (Model.Performances.Count > 0)
{
    <h4>Performances</h4>

    <table>
        @foreach (var performance in Model.Performances.OrderByDescending(p => p.EventDate))
        {
            <tr>
                <td style="padding-right: 20px;">@performance.EventDate.ToString("d MMMM yyyy")</td>
                <td style="padding-right: 20px;">
                    @if (performance.VenueID != null)
                    {
                        @Html.ActionLink(performance.VenueName, "Details", "Locations", new { ID = performance.VenueID }, null)
                        if (!string.IsNullOrWhiteSpace(performance.VenueCity))
                        {
                            @Html.Raw(", ")
                            @performance.VenueCity
                        }
                    }
                </td>
                <td>
                    @if(performance.Performers.Count(p => p.MusicalEntityID != Model.ID) > 1)
                    {

                    }

                    @if(!string.IsNullOrWhiteSpace(performance.PerformingAs))
                    {
                        <text>Performing as <i>@performance.PerformingAs</i>.</text>
                    }
                </td>
            </tr>
        }
    </table>
}

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
