@model LocationDetails
@using MusicDatabase.ViewModel

@{
    ViewBag.Title = Model.FullName;
}

<h2>@Model.FullName</h2>

@if (Model.LocationGroupID != null)
{
    <i>
        Belongs to the
        @Html.ActionLink(Model.LocationGroupName, "Group", "Locations", new { ID = Model.LocationGroupID }, null)
        group
    </i>
}

<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Address
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.Address))
            {
                @Model.Address<br />
            }

            @if (!string.IsNullOrWhiteSpace(Model.Suburb))
            {
                @Model.Suburb<br />
            }

            @Html.ActionLink(Model.City, "City", new { ID = Model.City })<br />

            @if ((!string.IsNullOrWhiteSpace(Model.State)) || (!string.IsNullOrWhiteSpace(Model.Postcode)))
            {
                if (!string.IsNullOrWhiteSpace(Model.State))
                {
                    <text>@Html.ActionLink(Model.State, "State", new { ID = Model.State }) </text>
                }

                if (!string.IsNullOrWhiteSpace(Model.Postcode))
                {
                    @Model.Postcode
                }

                <br />
            }

            @Html.ActionLink(Model.Country, "Country", new { ID = Model.Country })

        </dd>

        @if (Model.IsClosed)
        {
            <dt>Status</dt>

            <dd>
                <i>Closed</i>
            </dd>
        }

                        @if (!string.IsNullOrWhiteSpace(Model.Notes))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        }

                        @if (Model.OtherNames.Count > 0)
        {

            <dt>
                Also Known As
            </dt>
            <dd>
                <ul>
                    @foreach (var otherName in Model.OtherNames.OrderBy(n => n.Key))
                    {
                        <li>@otherName.Value</li>
                    }
                </ul>
            </dd>
        }

    </dl>

    @if (Model.UpcomingMusicalEvents.Count > 0)
    {
        <h4>Upcoming</h4>

        Html.RenderPartial("_MusicalEventsByLocation", Model.UpcomingMusicalEvents);

    }

    @if (Model.MusicalEvents.Count > 0)
    {
        <h4>Events</h4>

        Html.RenderPartial("_MusicalEventsByLocation", Model.MusicalEvents);
    }

    @*@if(Model.Purchases.Count > 0)
    {
        <h4>Purchases</h4>

        <table>
            @foreach (var purchase in Model.Purchases.OrderByDescending(p => p.DateAdded))
            {
                <tr>
                    <td style="padding-right: 20px;">
                        @if (purchase.DateAdded.HasValue)
                        {
                            <text>@purchase.DateAdded.Value.ToString("d MMMM yyyy")</text>
                        }
                    </td>
                    <td style="padding-right: 20px;">
                        @purchase.ReleaseTitle (@purchase.ReleaseYear)
                    </td>
                    <td>
                        @{
                                    if(purchase.Elements.Count > 0)
                                    {
                                        var current = 1;
                                        foreach(var element in purchase.Elements.OrderBy(e => e.Position))
                                        {
                                            if(current > 1)
                                            {
                                        <text> + </text>
                                            }

                                            if(element.Count > 1)
                                            {
                                        <text>@element.Count@element.FormatCode</text>
                                            }
                                            else
                                            {
                                        <text>@element.FormatCode</text>
                                            }

                                            current++;
                                        }
                                    }
                                }

                                @foreach(var element in purchase.Elements.OrderBy(e => e.Position))
                        {


                                }
                    </td>
                </tr>
            }
        </table>
    }*@

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
