@model LocationDetails
@using MusicDatabase.ViewModel

@{
    ViewBag.Title = Model.FullName;
}

<h2>@Model.FullName</h2>

@if (Model.LocationGroupID != null)
{
    <i>
        Belongs to the
        @Html.ActionLink(Model.LocationGroupName, "Group", "Locations", new { ID = Model.LocationGroupID }, null)
        group
    </i>
}

<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Address
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.Address))
            {
                @Model.Address<br />
            }

            @if (!string.IsNullOrWhiteSpace(Model.Suburb))
            {
                @Model.Suburb<br />
            }

            @Html.ActionLink(Model.City, "City", new { ID = Model.City })<br />

            @if ((!string.IsNullOrWhiteSpace(Model.State)) || (!string.IsNullOrWhiteSpace(Model.Postcode)))
            {
                if (!string.IsNullOrWhiteSpace(Model.State))
                {
                    <text>@Html.ActionLink(Model.State, "State", new { ID = Model.State }) </text>
                }

                if (!string.IsNullOrWhiteSpace(Model.Postcode))
                {
                    @Model.Postcode
                }

                <br />
            }

            @Html.ActionLink(Model.Country, "Country", new { ID = Model.Country })

        </dd>

        @if (Model.IsClosed)
        {
            <dt>Status</dt>

            <dd>
                <i>Closed</i>
            </dd>
        }

                        @if (!string.IsNullOrWhiteSpace(Model.Notes))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        }

                        @if (Model.OtherNames.Count > 0)
        {

            <dt>
                Also Known As
            </dt>
            <dd>
                <ul>
                    @foreach (var otherName in Model.OtherNames.OrderBy(n => n.Key))
                    {
                        <li>@otherName.Value</li>
                    }
                </ul>
            </dd>
        }

    </dl>

    @if (Model.MusicalEvents.Count > 0)
    {
        <h4>Events</h4>

        <table class="table">

            @foreach (var eventListing in Model.MusicalEvents.OrderByDescending(e => e.EventDate))
            {
                <tr>
                    <td>
                        @Html.ActionLink(eventListing.EventDate.ToString("d MMMM yyyy"), "Details", "MusicalEvents", new { ID = eventListing.ID }, null)
                    </td>
                    <td>
                        @if(eventListing.EventType != EventType.Concert)
                {
                            <text>@eventListing.EventGroupName </text>

                            switch (eventListing.EventType)
                    {
                        case EventType.Festival:
                                    <span style="font-weight: bold; font-size: 10px; color: red;">[Festival]</span>
                                    break;
                        case EventType.MultiDayFestival:
                                    <span style="font-weight: bold; font-size: 10px; color: maroon;">[Multi-Day Festival]</span>
                                    break;
                    }

                            <text> - </text>
                        }

                        @if (!string.IsNullOrWhiteSpace(eventListing.EventName))
                        {
                            <text>@eventListing.EventName - </text>
                        }

                        @{
                            var count = eventListing.Headliners.Count();
            var current = 1;

                            foreach (var headliner in eventListing.Headliners.OrderBy(p => p.Position))
                            {
                                if ((count > 1) && (current > 1))
                                {
                                    if (current != count)
                                    {
                                        <text>, </text>
                                    }
                                    else
                                    {
                                        <text> and </text>
                                    }
                                }


                                var performerCount = headliner.Performers.Count();
            var performerIndex = 1;

                                foreach (var performer in headliner.Performers.OrderBy(p => p.Position))
                                {
                                    if ((performerCount > 1) && (performerIndex > 1))
                                    {
                                        if (performerIndex == 2)
                                        {
                                            <text> performing with </text>
                                        }
                                        else if (performerIndex < performerCount)
                                        {
                                            @Html.Raw(", ");
                                        }
                                        else
                                        {
                                            <text> and </text>
                                        }
                                    }

                                    @Html.ActionLink(performer.MusicalEntityName, "Details", "MusicalEntities", new { ID = performer.MusicalEntityID }, null)

                                    performerIndex++;
                                }

                                if (!string.IsNullOrWhiteSpace(headliner.PerformingAs))
                                {
                                    <text> (performing as <i>@headliner.PerformingAs</i>)</text>
                                }

                                current++;
                            }

                            if (count > 1)
                            {
                                <text> co-headlining</text>
                            }
                        }

                        @if ((eventListing.EventType == EventType.Concert) && (!string.IsNullOrWhiteSpace(eventListing.EventGroupName)))
                        {
                            <text>(@eventListing.EventGroupName)</text>
                        }



                    </td>
                </tr>
            }
        </table>
    }

    @*@if(Model.Purchases.Count > 0)
    {
        <h4>Purchases</h4>

        <table>
            @foreach (var purchase in Model.Purchases.OrderByDescending(p => p.DateAdded))
            {
                <tr>
                    <td style="padding-right: 20px;">
                        @if (purchase.DateAdded.HasValue)
                        {
                            <text>@purchase.DateAdded.Value.ToString("d MMMM yyyy")</text>
                        }
                    </td>
                    <td style="padding-right: 20px;">
                        @purchase.ReleaseTitle (@purchase.ReleaseYear)
                    </td>
                    <td>
                        @{
                                    if(purchase.Elements.Count > 0)
                                    {
                                        var current = 1;
                                        foreach(var element in purchase.Elements.OrderBy(e => e.Position))
                                        {
                                            if(current > 1)
                                            {
                                        <text> + </text>
                                            }

                                            if(element.Count > 1)
                                            {
                                        <text>@element.Count@element.FormatCode</text>
                                            }
                                            else
                                            {
                                        <text>@element.FormatCode</text>
                                            }

                                            current++;
                                        }
                                    }
                                }

                                @foreach(var element in purchase.Elements.OrderBy(e => e.Position))
                        {


                                }
                    </td>
                </tr>
            }
        </table>
    }*@

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
