@model IEnumerable<MusicDatabase.ViewModel.LocationListing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusicalEvents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsClosed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(l => l.MusicalEvents).ThenBy(l => l.SortName)) {
    <tr>
        <td>
            @if(item.LocationGroup != null)
            {
                <text>@item.LocationGroup - </text>
            }

            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusicalEvents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsClosed)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
