@model IEnumerable<MusicDatabase.ViewModel.PersonListing>

@{
    ViewBag.Title = "Listing";
}

<h2>Listing</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventsAttended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftsGiven)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(p => p.EventsAttended).ThenBy(p => p.Name)) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { ID = item.ID})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventsAttended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiftsGiven)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
